/* 

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
________  .__       .__           __      __      .__   _____ 
\______ \ |__| ____ |__|         /  \    /  \__ __|  |_/ ____\
 |    |  \|  |/ ___\|  |  ______ \   \/\/   /  |  \  |\   __\ 
 |    `   \  / /_/  >  | /_____/  \        /|  |  /  |_|  |   
/_______  /__\___  /|__|           \__/\  / |____/|____/__|   
        \/  /_____/                     \/                    

////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////

 */

body {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*  Top Navigation  */
.navbar {
    background-color: #262626;
    overflow: hidden;
    height: 63px;
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    margin: 17px 20px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.navbar ul {
    margin: 0;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    color: rgb(231, 23, 23);
}

#nav-bar {
    position: fixed;
    top: -63px;
    width: 100%;
    display: block;
    transition: top 0.5s;
    z-index: 1;
}

.navbar-nav {
    display: block;
}

svg {
    transition: 0.3s;
}

svg:hover {
    fill: rgb(231, 23, 23);
}


/*  Side Navigation  */
.open-slide {
    display: none;
}

.side-nav {
    display: none;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

.side-nav a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #9c9c9c;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #ffffff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    margin-right: 50px;
    font-size: 36px;
}

.side-nav-overlay:hover {
    background-color: rgb(231, 23, 23);
    border-left: 8px solid #ffffff;
}

#main {
    text-align: justify;
    transition: margin-right 0.5s;
    overflow: hidden;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
}

.container div {
    flex: 100%;
}

.cover,
.footer-content {
    background-color: #000000;
}


/*  Top Section  */
.cover {
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    animation-name: cover-logo-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

#logo-white {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    position: relative;
    animation-name: cover-logo-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    fill: #ffffff;
}

@keyframes cover-logo-animation {
    0% {
        opacity: 0;
        left: 0px;
        top: 200px;
    }

    100% {
        opacity: 100%;
        left: 0px;
        top: 0px;
    }
}


/*  Content Section  */
.content {
    margin: 20px 0px;
}

.info {
    border-top: 1px #ffffff solid;
    border-bottom: 1px #ffffff solid;
    margin: 0% 10% 0% 10%;
    padding: 0% 5%;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

#about_img {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: auto;
    margin: 50px;
    align-self: flex-start;
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0px 0px 50px rgb(148, 81, 37);
}

/* position: relative;
    animation-name: about-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
@keyframes about-animation {
    0% {
        opacity: 0;
        left: 0px;
        top: 200px;
    }

    100% {
        opacity: 100%;
        left: 0px;
        top: 0px;
    }
} */

.content h1 {
    margin: 0px;
    padding: 30px 0px 20px 0px;
}

.content p {
    margin: 0px;
    padding: 10px 0px;
}

.content .page-button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin: 10px 0px;
    padding: 15px 50px 10px 50px;
    background-color: rgb(231, 23, 23);
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    transition-duration: 0.3s;
    border-style: none none solid none;
    border-bottom-width: 5px;
    border-color: rgb(231, 23, 23);
}

button:hover {
    border-style: none none solid none;
    border-bottom-width: 5px;
    border-color: #ffffff;
}

.button-select {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 50px 0px;
}



/*  Portfolio Setup  */

.portfolio{
    margin: 30px 0px;
}
.class-proj{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.class-proj:hover{
    background-color: #1a1a1a;
}
.proj-contain{
    vertical-align: middle;
}
.site-desc{
    vertical-align: middle;
}
.site-prev{
    margin-left: 20px;
    vertical-align: middle;
}

.portfolio-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 100%;
}

.portfolio-sites {
    margin: 30px 0px 50px 0px;
}


/*  Footer Section  */
footer {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding: 30px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

footer a:hover {
    color: rgb(231, 23, 23);
}

#icon-logo-white {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 25px 10px;
}


/*  Text Elements  */
h1 {
    color: rgb(231, 23, 23);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 75px;
    font-size: 50px;
    padding: 20px;
    margin: 0;
}

.about_header {
    text-align: center;
}

h2{
    color: rgb(231, 23, 23);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 75px;
    font-size: 30px;
    padding: 20px;
    margin: 0;
}

h3 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    margin: 0;
}

.sub-head{
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 30px;
    padding: 15px 0px 0px 0px;
    margin: 0;
}

p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 0px 20px 0px 20px;
    margin: 0px;
}

.text-link, .text-link:visited{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}
.text-link:hover, .text-link:active{
    color: rgb(231, 23, 23);
}


/*  Media Queries  */
@media(max-width:1440px) {
    .flexbox {
        flex-direction: column;
    }

    #about_img {
        width: 60%;
        align-self: center;
        margin: 30px;
    }
}

@media(max-width:1024px) {
    .class-proj{
        padding: 20px;
        flex-direction: column-reverse;
    }
    .site-desc{
        vertical-align: middle;
    }
    .site-prev{
        margin-left: 0px;
        margin-bottom: 20px;
        vertical-align: middle;
        width: 100%;
    }

    button {
        flex: 100%;
        background-color: rgb(231, 23, 23);
        color: #ffffff;
        border-color: rgb(231, 23, 23);
    }

    button:hover {
        background-color: #ffffff;
        color: rgb(231, 23, 23);
        border-color: #ffffff;
    }

    .portfolio-button {
        width: 100%;
        margin-bottom: 0px;
    }

    .navbar-nav {
        display: none;
    }

    .open-slide {
        display: block;
    }

    .side-nav {
        display: block;
    }
}

@media(max-width:768px) {
    h1 {
        text-align: center;
    }

    p {
        letter-spacing: -1px;
    }

    #logo-white {
        width: 80%;
    }
}

@media(max-width:425px) {
    .info {
        margin: 0% 10%;
    }

    #main {
        text-align: justify;
    }
}