body{
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

#container{
  background-color: #000000;
  max-width: 860px;
  margin: 20px auto 0px auto;
  padding: 0px;
}
.banner{
  background-color: #EE7700;
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  float: left;
  border-bottom: 2px solid #D8D8D8;
}

header{
  width: 100%;
  /*
  background-image: url("images/discdrive.jpg");
  background-repeat: no-repeat;
  */
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  float: left;
}

.discdrive{
  width: 100%;
  height: 225px;
  background-image: url("images/discdrivelarge.jpg");
  float: left;
}

.navigation{
  width: 100%;
  margin: 0px;
  margin: 0px;
  float: left;
}

nav{
  background-color: #FFFFFF;
  max-width: 100%;
  border-top: 2px solid #D8D8D8;
  line-height: 0px;
}

nav ul{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style-type: none;
}

nav ul li{
  width: 25%;
  text-align: center;
  float: left;
  text-decoration: none;
}
nav ul li a{
  color: #000000;
  text-decoration: none;
  text-decoration-color: #ffffff;
  line-height: 45px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13pt;
  font-weight: 900;
  position: relative;
}

ul li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #EE7700;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

ul li a:hover:after{
  transform: scaleX(1);
  transform-origin: bottom center;
}

main{
  font-family: 'Rubik', sans-serif;
  border-top: 2px solid #FFB74B;
  background: linear-gradient(#ffffff 50%, #FFB74B);
  margin: 0px;
  padding: 0px;
  float: left;
}

.mainleft{
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.mainleft h3 {
  margin: 0px;
  padding: 30px 0px 0px 82px;
}

.mainleft p {
  margin: 0px 0px 30px 0px;
  padding: 10px 60px 0px 82px;
}

.mainright{
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: right;
}

.mainimg {
  margin: 65px 0px 0px 10px;
  padding: 0px;
}

.mainpage{
  padding: 0px;
  margin: 0px 70px 0px 30px;
  float: right;
}
.mainpage .mainimg{
  margin: 0px 0px 0px 10px;
  padding: 5px 0px 0px 0px;
}
.mainpage figcaption{
  margin: 0px;
}

figure {
  margin: 0px;
  padding: 0px;
}

figcaption {
  font-size: 11px;
  text-align: right;
  margin: 0px 70px 0px 0px;
  padding: 0px;
}

footer{
  background-color: #FFB74B;
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
  border-top:2px solid #ee7700;
  border-bottom: 2px solid #D8D8D8;
}

.copyright{
  background-color: #FFFFFF;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-size: 10px;
  text-align: center;
  margin: 5px 0px;
  padding: 0px;
  float: left;
}

footer p{
  font-family: 'Nunito Sans', sans-serif;
  color: #000000;
  font-size: 10px;
  text-align: right;
  line-height: 14px;
  float: right;
  margin: 10px 20px 10px 0px;
  padding: 0px;
}

.banner h2{
  font-family: 'Nunito Sans', sans-serif;
  color: #FFFFFF;
  font-size: 12pt;
  text-align: center;
  line-height: 38px;
  margin: 0px;
  padding: 0px;
}

header h1{
  max-width: 75%;
  margin: 15px 0px 0px 15px;
  padding: 0px 0px 0px 0px;
  font-family: 'Nunito Sans', sans-serif;
  color: #EE7700;
  font-size: 20pt;
  line-height: 35px;
  text-align: left;
  font-weight: 900;
  float: left;
}

header h2{
  max-width: 25%;
  margin: 15px 15px 15px 0px;
  padding: 0px 0px 00px 0px;
  font-family: 'Nunito Sans', sans-serif;
  color: #EE7700;
  font-size: 12pt;
  text-align: right;
  float: right;
  line-height: 30px;
}

main h3{
  font-family: 'Rubik', sans-serif;
  margin: 30px 0px 10px 83px;
}

main p{
  margin: 10px 0px 30px 20px;
  padding: 0px 70px 0px 63px;
}

main h4{
  font-family: 'Rubik', sans-serif;
  margin: 30px 0px 10px 83px;
}

/* Record Management */

.maintwo{
  max-width: 100%;
  font-family: 'Rubik', sans-serif;
  border-top:2px solid #FFB74B;
  background: linear-gradient(#ffffff 50%, #FFB74B);
  margin: 0px;
  padding: 0px;
  float: left;
}

.rowone{
  margin: 30px 70px 5px 83px;
  padding: 0px;
}

.rowone h3{
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.rowone p{
  margin: 0px 0px 10px 0px;
  padding: 0px;
}

.columnone{
  max-width: 50%;
  float: left;
  margin: 0px;
  padding: 0px;
}

.columnone h3 {
  margin: 20px 0px 10px 83px;
  padding: 0px 50px 0px 0px;
}

.columnone p {
  margin: 10px 0px 30px 83px;
  padding: 0px 50px 0px 10px;
}
.columnone h4 {
  margin: 20px 0px 10px 90px;
  padding: 0px 50px 0px 10px;
  text-indent: -18px;
}
.columntwo{
  max-width: 50%;
  float: right;
  margin: 0px;
  padding: 0 0 0 20px;
  }

 .columntwo p {
  margin: 10px 0px 30px 25px;
  padding: 0px 80px 0px 30px;
 }

.rowtwo{
  margin: 30px 70px 30px 83px;
  padding: 0px;
}

.rowtwo h3 {
  margin: 0px;
  padding: 0px;
}

.rowtwo p {
  margin: 0px;
  padding: 10px 0px 0px 0px;
}


.fullwidthone{

  background-size: cover;
  background-repeat: no-repeat;
}
.fullwidthtwo{

  background-size: cover;
  background-repeat: no-repeat;
}

/* records management */

.records{
  width: 100%;
  height: 225px;
  background-image: url("images/recordstoragelarge.jpg");
  float: left;
}

/* storage system page */

.filemess{
  width: 100%;
  height: 225px;
  background-image: url("images/filemesslarge.jpg");
  float: left;
}

.storemainone {
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.storecolone {
  width: 50%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  float: left;
}

.storecoltwo {
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: right;
}

.storecolone p {
  margin: 0px 30px 20px 83px;
  padding: 0px;
  word-break: break-word;
}

.storecolone h3 {
  margin: 20px 30px 10px 83px;
  padding: 0px;
  word-break: break-word;
}

.storecoltwo img {
  margin: 25px 0px 0px 30px;
  padding: 0px;
}

.storemaintwo {
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.storecolthree {
  width: 50%;
  float: left;
}

.storecolthree img {
  margin: 34px 0px 0px 83px;
}

.storecolfour {
  width: 50%;
  float: right;
}

.storecolfour p {
  margin: 0px 80px 30px 30px;
  padding: 0px;
  word-break: break-word;
}

.storecolfour h3 {
  margin: 30px 30px 10px 30px;
  padding: 0px;
  word-break: break-all;
}

.figcaptwo {
  margin: 0px 17px 0px 0px;;
  padding: 0px;
}

.bottomrow {
  width: 100%;
  margin: 10px 0px 30px 0px;
  padding: 0px;
  float: left;
}

.bottomrow h3 {
  margin: 13px 0px 0px 80px ;
  padding: 0px;
}

.bottomrow p {
  margin: 10px 60px 0px 80px ;
  padding: 0px;
  word-break: break-word;
}
/* about us page */

.microfilm{
  width: 100%;
  height: 225px;
  background-image: url("images/microfilmlarge.jpg");
  float: left;
}

/* span for orange colored first headers */

.orange {
  color: #EE7700;
}

.active {
  color: #EE7700;
}