@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #c2c5c9;
    color: #000000;
    line-height: 1.7em;
    font-family: 'Open Sans', sans-serif;
}

/*Content Setup*/
.content{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.banner{
    color: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.295)), url("images/banner.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 120px;
}
.info{
    margin: 0;
    width: 100%;
    overflow: hidden;
}
.desc{
    vertical-align: middle;
    display: inline-block;
    flex-direction: row;
}
.item-disp{
    width: 30%;
    padding: 0;
}
.promo-item-disp{
    width: 60%;
    padding: 0;
}

/*Navigation*/
header {
    background: #ffffff;
    text-align: center;
    position: fixed;
    z-index: 5;
    width: 100%;
    border-bottom: 5px solid #1e47b6;
}
nav {
    padding-top: 5px;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #f1f1f1;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    -webkit-transition: transform 400ms ease-in-out;
    -o-transition: transform 400ms ease-in-out;
    -moz-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    border-bottom: #000000;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    margin-bottom: 1em;
    margin-left: 2em;

}
nav a {
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.nav-toggle:checked~nav {
    transform: scale(1, 1);
}
.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span:before,
.nav-toggle-label span:after {
    display: block;
    background: #000000;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span:before,
.nav-toggle-label span:after {
    content: '';
    position: absolute;
}
.nav-toggle-label span:before {
    bottom: 7px;
}
.nav-toggle-label span:after {
    top: 7px;
}

/*Sections*/
.box-a{
    background-color: #eaeff3;
    margin: 2% 0%;
}
.box-b{
    background-color: #eaeff3;
    margin: 2% 0%;
    align-items: center;
    display: flex;
}
.box-c{
    background-color: #eaeff3;
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: transform .5s;
}
.box-c:hover{
    transform: scale(1.1);
}
.box-d{
    background-color: #eaeff3;
    margin: 2% 0%;
    align-items: center;
}
.promo{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
	background-image:url("images/filmreel.png");
	background-size: auto 95%;
}
form>section.box-c{
    width: 100%;
}
form>table.box-d{
    width: 100%;
}
.cart-img{
    width: 60%;
}

/*Footer*/
footer {
    flex-wrap: wrap;
    bottom: 0;
}
.footer-basic{
    background-color: #e9e9e9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 45px;
    margin-top: 80px;
}
.footer-basic .text-m {
    color: #000000;
    font-size: 24px;
}
.footer-basic .text-xs {
    color: #050607;
    font-size: 14px;
}
.footer-basic .links {
    list-style: none;
    font-weight: bold;
    color: #000000;
    margin: 0;

    display: inline-block;
    text-decoration: none;
    color: inherit;
}

/*Text*/
.text-center{
    text-align: center;
}
.text-xl{
    font-size: 45px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}
.text-l{
    font-size: 36px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 50px;
    font-family: 'Oswald', sans-serif;
}
.text-m{
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.text-s{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
}
.text-s2{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.text-xs{
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.links{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

/*Padding*/
.xxxx1{
    padding: 50px 30px 0px 30px;
}
.pd-xxl{
    padding: 90px 30px 0px 30px;
}
.pd-xl{
    padding: 40px 30px;
}
.pd-l{
    padding: 30px 20px;
}
.pd-m{
    padding: 10px 30px;
}
.pd-s{
    padding: 15px;
}
.pd-xs{
    padding: 12px;
}

.align-r{
    width: 93%;
    text-align: right;
}
.headers{
    text-align: center;
    margin: 10px 20px;
    padding-left: 30px;
}


/*Media Queries*/
@media screen and (min-width: 1270px) {
    .nav-toggle-label {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .logo {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 80px;
        color: #8a7f7f;
    }
    nav {
        all: unset;
        justify-content: flex-end;
        margin: 0 80px;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    nav a {
        opacity: 1;
        position: relative;
    }
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }
    nav a::before {
        content: '';
        display: block;
        height: 2px;
        background: #5f7ad4;
        position: absolute;
        top: 1.4em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        -webkit-transition: transform ease-in-out 250ms;
        -moz-transition: transform ease-in-out 250ms;
        -o-transition: transform ease-in-out 250ms;
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before {
        transform: scale(1, 1);
    }

    .info{
        margin: 0 8%;
        width: 100%;
        overflow: hidden;
    }

    .banner{
        margin-top: 120px;
    }
    .headers{
        text-align: left;
    }

    .box-a{
        margin: 3%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .box-b{
        margin: 3%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .box-c{
        margin: 3%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 18%;
    }
    .box-d{
        margin: 3%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .promo{
        display: flex;
    }
    form>section.box-c{
        width: 100%;
    }
    .product-spc{
        margin: 3%;
    }
    form>table.box-d{
        margin-left: auto;
        margin-right: auto;
        width: 97%;
    }
    .cart-img{
        width: 40%;
    }

    .searchbar{
        width:15%;
    }
    .searchbar:focus{
        width:80%;
    }
    .searchbutton{
        width:20%;
    }
}

@media (max-width: 600px) {
    footer {
        padding: 25px;
    }
    .footer-basic .text-m {
        font-size: 14px;
    }
    .footer-basic .text-xs {
        font-size: 10px;
    }
    .footer-basic .links {
        font-size: 12px;
        line-height: 1.8;
    }
}

/*Buttons*/
button{
    font-family: 'Open Sans', sans-serif;
    cursor:pointer;
    border:none;
    background-color: #ffffff00;
    transition: 0.3s;
}
button:hover{
    color:#1e47b6;
}
#cart{
    margin-top:280px;
}
table{
    margin: 3%;
    text-align:center;
}

input[type=submit] {
    margin-top: 15px;
    background-color: #393b3b;
    color: #ffffff;
    font-family: 'Jura', sans-serif;
    font-size:14pt;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
input[type=submit]:hover {
    background-color: #1e47b6;
}

input[type=button]{
    margin-top: 15px;
    background-color: #393b3b;
    color: #ffffff;
    font-family: 'Jura', sans-serif;
    font-size:14pt;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
input[type=button]:hover {
    background-color: #1e47b6;
}
.promo-btn{
    margin-top: 15px;
    background-color: #393b3b;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.promo-btn:hover {
    color: #ffffff;
    background-color: #1e47b6;
}
.shop-btn{
    font-weight: 800;
    font-size: 1.3rem;
}
.shop-btn:hover{
    color: #1e47b6;
}



#container{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    padding-top:250px;
    padding-bottom: 40px;
}

.faq-header {
    font-size: 42px;
    padding: 24px;
}

.faq-content {
    padding-top: 22px;
    margin: 0 auto;
    width: 80%;
}

.faq-question {
    padding: 20px 0;
    border-bottom: 1px dotted rgb(0, 0, 0);
}

.panel-title {
    font-size: 24px;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 10px 10px 0 48px;
    display: block;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.panel-content {
    font-size: 20px;
    padding: 0px 14px;
    margin: 0 40px;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.panel:checked~.panel-content {
    height: auto;
    opacity: 1;
    padding: 14px;
}
.plus {
    position: absolute;
    margin-left: 20px;
    margin-top: 4px;
    z-index: 4;
    font-size: 42px;
    line-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.panel:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.panel {
    display: none;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(3, 39, 116);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #1e47b6;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: rgb(50, 164, 199);
}
.container123 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #dddada4b;
    border: 1px solid #1e47b6;
    padding: 20px;
}
.aboutmain{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.nowrap {
    white-space: nowrap;
    word-break: keep-all;
}
.p12 {
    text-align:left;
    font-size: 1em;
    font-weight: 600;
}
.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.blog-post_title1{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    padding: 64px 34px 34px 0px;
    color: #000000;
}
label{
    font-weight: 800;
}

.searchbar{
	float:right;
    width:30%;
    height:50px;
    border: solid 3px #1e47b6;
    padding:20px;
    border-radius: 25px 0px 0px 25px;
}
.searchbar:focus{
    width:80%;
    transition:2s;
    outline:none;
}
.searchbutton{
	float:right;
    background-color:#1e47b6;
    color:#ffffff;
    height:50px;
    width:20%;
    border-radius: 0px 25px 25px 0px;
}

/*Back to Top Button*/
#backTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5%;
    z-index: 99;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color:rgba(121, 155, 247, 0.8);
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
	  transition-property: color, box-shadow;
    transition: 0.3s;
}
#backTop:hover {
    background-color:rgba(36, 72, 170, 0.8);
}
