body{
  padding: 0px;
	margin: 0px;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
nav{
  background-size: contain;
  background-color: #135262;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;

  font-weight: bold;
  font-style: normal;
	font-size: 20px;

  position: fixed;
  top: 0;
  width: 100%
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a{
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  transition-duration: 0.4s;
}
li a:hover:not(#currentpg){
  background-color: #e75f45;
  color: #ffffff;
}
#currentpg{
  background-color: #082a33;
}

header{
  background-image: url("images/beach2.jpg");
  /* Set a specific height */
  min-height: 466px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#logo{
  width: 1080px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
#logo-image{
  padding-top: 100px;

  padding-left: 53px;
}
img{
  margin-left: 57px;
  padding-top: 38px;
}

#container{
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
main{
  width: 974px;
  padding-left: 53px;
  padding-right: 53px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  font-size: 18px;
}
main>p{
  font-family: 'Roboto', sans-serif;
  color: #36373c;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: justify;
}
#frnt-image{
  float: right;
  padding-top: 0px;
  padding: 6px;
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: #36373c;
  border-radius: 5px;
  margin-bottom: 34px;
}
footer{
  height: 186px;
  margin: 0px;
  padding: 0px;
  background-image:  url('images/footer-background.jpg');
  background-size: contain;
  background-color: #2f2d3b;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}
.centerftr{
  display: inline-block;
  padding-top: 38px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
#ftrcontainer{
  height: 186px;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#locatstyle{
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
}
#copyright{
  text-decoration: none;
  color: #ffffff;
}
#copyright:hover{
  text-decoration: underline;
}
h3{
  font-style: italic;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #135262;
}
button{
  width: 640px;
  padding: 12px;
  margin: 8px 0px;
  background-color: #135262;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  transition-duration: 0.4s;
}
button:hover{
  background-color: #082a33;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

/*/////////////////////
/// LOCATIONS PAGE ///
////////////////////*/
#locations-head{
  background-image: url("images/lights2.jpg");
}
.photos{
  text-align: center;
  margin-bottom: 1120px;
}
.photos>img{
  float: left;
  text-align: justify;
  display: inline-block;
  padding: 10px;
  margin: 0px;
  vertical-align: middle;
}

/*////////////////
/// ABOUT PAGE ///
////////////////*/
#about-head{
  background-image: url("images/buildings2.jpg");
}
form{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.subscription{
  padding: 20px;
  background-color: #135262;
}
input[type=text], input[type=submit]{
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
label{
  color: #000000;
}
input[type=checkbox]{
  margin-top: 16px;
}
input[type=submit]{
  background-color: #082a33;
  color: white;
  border: none;
  transition: 0.3s;
}
input[type=submit]:hover{
  background-color: #e75f45;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}
