body{
  margin: 0px;
  padding: 0px;
}
footer, header, main, nav{
  display: block;
}
nav{
  position: absolute;
  padding: 0px;
  margin: 0px;
  float: left;
}
#logo{
  padding-bottom: 30px;
}
ul{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: #203046;
}
li a{
  display: block;
  color: #ffffff;
  padding: 20px 16px;
  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: bold;
  transition:0.3s;
	border-style:none none none none;
	border-right-width:10px;
	border-color:#008000;
}
li a.active{
  background-color: #ffae00;
  color: #1a1a1a;
}
li a:hover:not(.active){
  background-color: #1a1a1a;
  color: #ffffff;
  border-style: none solid none none;
  border-right-width: 10px;
  border-color: #ffae00;
}
#container{
  margin-left: 250px;
  display: flex;
  flex-wrap: wrap;
}
header{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 250px;
  background-image: url("images/tigerheader.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #3e92e6;
  border-bottom-width: 10px;
  border-bottom-style: solid;
	border-bottom-color: #29a329;
}
.content{
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}
.info{
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}
footer{
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: relative;
  display: block;
  background-image: url("images/xv.png");
  background-color: #00260a;
  border-top-width: 10px;
  border-top-style: solid;
	border-top-color: #29a329;
}
#ftrcontainer{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  color: #ffffff;
}
#centerftr{
  font-family: 'Work Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 30px;
}
#centerftr>a{
  text-decoration: none;
  transition:0.3s;
  color: #ffffff;
}
#centerftr>a:hover{
  text-decoration: none;
  color: #ffae00;
}
#centerftr>a>img{
  padding-top: 10px;
  padding-left: 29px;
}
h1, h2, h3{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  color: #ffffff;
  font-family: 'Philosopher', sans-serif;
}
p{
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}
#btn{
  text-align: center;
}
.news {
  font-family: 'Philosopher', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 60px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  letter-spacing: 2px;
  border: 9px double #ffae00;
}
.news:hover {
  background-color: #ffae00;
  color: #ffffff;
  border: 9px double #1a1a18;
}
#headercont{
  padding-bottom: 0px;
  font-size: 50px;
}
#headersub{
  padding-top: 0px;
  margin-right: 35%;
}
#facts{
  width: 100%;
  background-image: url("images/river.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  color: #ffffff;
  border-top-width: 10px;
  border-top-style: solid;
	border-top-color: #29a329;
  border-bottom-width: 10px;
  border-bottom-style: solid;
	border-bottom-color: #29a329;
  padding: 20px;
}
#facts>.content>.info{
  margin-left: 40%;
}
#chart {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  border-collapse: collapse;
  width: 100%;
  background-color: #203046;
}
#chart td, #chart th {
  border: 5px solid #ffae00;
  padding: 15px;
}
#chart th {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
#formstyle{
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
label{
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
}
input{
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
input[type="text"]{
  display:block;
  margin-bottom:15px;
  border:2px solid;
}
input[type="email"]{
  display:block;
  margin-bottom:15px;
  border:2px solid;
}
input[type="reset"]{
  padding-left: 10px;
  padding-right: 10px;
  width: 210px;
  border: 9px double #ffae00;
  color: #000000;
  transition:0.4s;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}
input[type="submit"]{
  padding-left: 10px;
  padding-right: 10px;
  width: 210px;
  border: 9px double #ffae00;
  color: #000000;
  transition:0.4s;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}
input[type="reset"]:hover{
  background-color: #ffae00;
  color: #ffffff;
  border: 9px double #1a1a18;
}
input[type="submit"]:hover{
  background-color: #ffae00;
  color: #ffffff;
  border: 9px double #1a1a18;
}
#row{
  height: 3px;
  background-color: #29a329;
}
table{
  margin-left: auto;
  margin-right: auto;
}
