* {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}
body {
  background-color: #ffffff;
}

/* Adress Bar */
.adress-bar {
  background-image: url("images/address-background.jpg");
  background-size: contain;
  background-color: #c80f0f;
  color: #ffffff;
  padding: 15px;
}
.adress {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact {
  line-height: 20px;
  padding: 0 20px;
  font-family: 'Quicksand', sans-serif;
}
.nav-bar {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  padding-top: 20px;

  display: flex;
  justify-content: center;
}
a {
  text-transform: capitalize;
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#currentpg {
  text-decoration: underline;
}

/* Header Bar */
header {
  background-image: url("images/coffee.jpg");
  /* Set a specific height */
  padding: 150px 0 150px 0;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
}
.logo-container{
  align-content: center;
  margin: 0 5%;
}

/* Title Text */
h3 {
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #696971;
}
.title-bar {
  display: block;
  margin-left: 0px;
  width: 28%;
  height: 4px;
  border-width: 0px;
  background-color: #696971;
}

/* Main Page Layout */
.container{
  max-width: 1094px;
  margin: auto;
  padding: 50px;
}
.content{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-txt{
  text-align: justify;
  padding-top: 40px;
}
.content-txt > p{
  font-family: 'Roboto', sans-serif;
  color: #9999a7;
  line-height: 25px;
}
.baristamain{
  float: right;
  border-style: solid;
  border-width: 3px;
  border-color: #696971;
  border-radius: 5px;
  padding: 6px;
  margin: 0 0 10px 50px;
}

/* Menu Page */
.menu-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menus{
  max-width: 1094px;
  margin: auto;
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.menu-items{
  width: 480px;
  padding-bottom: 50px;
}
h4 {
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #696971;
  padding-bottom: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tr {
  font-family: 'Roboto', sans-serif;
  color: #9999a7;
  font-size: 14px
}
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
strong {
  font-size: 18px;
  color: #c80f0f;
}
.price {
  font-size: 18px;
}

/* About Page */
iframe{
  padding-top: 50px;
  width: 100%;
  height: 450px;
}


/* Footer Section */
footer {
  background-image: url('images/footer-background.jpg');
  background-size: contain;
  background-color: #60616a;

  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 2px;
  color: #ffffff;
}
.foot-cont{
  max-width: 1094px;
  margin: auto;
  padding: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#locatstyle {
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-top: 21px;
}

/*  Media Queries  */
@media(max-width:1240px) {
 .menu-items{
  max-width: 800px;
  width: 100%;
 }
}

@media(max-width:1024px) {
  header{
    padding: 10%;
  }
  .logo-container{
    margin: 0 5%;
  }
  .container{
    width: 80%;
  }
  .content{
    flex-direction: column;
  }
  .baristamain{
    float: right;
    display: block;
    width: 40%;
    margin: 10px 0 10px 20px;
  }
  .foot-cont{
    width: 80%;
  }
}

@media(max-width:768px) {
  .adress {
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .foot-cont{
    flex-direction: column;
    padding: 30px 50px;
  }
  .left-foot{
    text-align: center;
    padding-bottom: 20px;
  }
}